<app-home></app-home>

<div class="container">
    <h3>Libros</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Nombre Autor</th>
                <th scope="col">Editorial</th>
                <th scope="col">Fecha Lanzamiento</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let libro of libros">
                <td>{{libro.idlibro}}</td>
                <td>{{libro.nombre}}</td>
                <td>{{libro.nombre_autor}}</td>
                <td>{{libro.editorial}}</td>
                <td>{{libro.fecha_lanzamiento}}</td>
            </tr>
        </tbody>
    </table>
</div>
